<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="data-spm" content="a1z2p">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UmiJS 测试</title>
  <link rel="stylesheet" href="/index.css" />
  <script type="text/javascript">
    window.publicPath = '/';
    window.ALITX_SERVICE_GLOBAL = {
      "user": {
        "homepageUrl": "https://work.alibaba-inc.com/work/u/I0001",
        "name": "玉娘",
        "picUrl": "http://pic.ilovimg.com/file/pic/1904_1444183/32831.jpg",
        "avatar": 'http://pic.ilovimg.com/file/pic/1904_1444183/32831.jpg',
        "notifyCount": 12,
        "userid": 'I0001',
        "dep": 'UmiJS 中心',
        "workid": 'I0001',
      },
      "env": "daily",
      "SSO_TICKET": "4b815b54d95c4d2e929fa869ab48fa0009642000"
    }
    window.ALITX_SERVICE_GLOBAL.notice = ''
  </script>
</head>

<body data-spm="11063804">
<div id="root"></div>
<script
  src="//f.alicdn.com/??react/16.5.0/react.development.js,react-dom/16.5.0/react-dom.production.min.js,classnames/2.2.5/index.js"
  crossorigin></script>
</body>
</html>

